<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x00400000" android:required="true" />
    <uses-feature android:name="android.hardware.vulkan.level" android:version="0" android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:theme="@style/T850LauncherTheme">

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/T850NativeTheme">
            <meta-data android:name="android.app.lib_name" android:value="T850Android" />
        </activity>
    </application>
</manifest>
